@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 /* font-family: "Kumar One Outline", system-ui;
  font-weight: 400;
  font-style: normal; */
